<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div id="app">
  <input type="text" v-model="message">
  <button type="button" @click="sendMessage">메시지 전송</button>
  <button type="button" @click="sendMessage2">메시지 전송2</button>
</div>
</body>

<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      message: ''
    },
    created() {

    },
    methods : {
      sendMessage: function() {
        ws.send("/app/chatrooms/1/chat", {
          Authorization: 'Access-Token'
        }, JSON.stringify({contents: vm.$data.message}));
      },
      sendMessage2: function() {
        ws.send("/app/chatrooms/1/chat", {
          Authorization: 'Access-Token'
        }, JSON.stringify({contents: vm.$data.message}));
      }
    }
  });

  // var socket = new SockJS("http://louie-03.com/websocket");
  var socket = new SockJS("/websocket");
  var ws = Stomp.over(socket);
  function connect() {
    ws.connect({}, function (frame) {
      ws.subscribe("/topic/chatroom-members/106", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/topic/chatroom-members/108", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/topic/chatroom-members/1", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/topic/chatroom-members/2", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/queue/notifications/entries/1", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/queue/notifications/entries/4", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/queue/notifications/entries/5", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/queue/notifications/entries/6", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/queue/notifications/entries/7", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/queue/notifications/entries/8", function (message) {
        var messageContents = JSON.parse(message.body);
      });
      ws.subscribe("/queue/notifications/entries/12", function (message) {
        var messageContents = JSON.parse(message.body);
      });
    });
  }
  connect();
</script>
</html>
